@use '../utils/helpers/functions' as function;
@use '../utils/helpers/mixin' as mix;

.container {
  width: 100%;
  padding: 0 20px;

  @include mix.mq('md') {
    width: function.fluid(1042px, 1280px);
    margin: 0 auto;
    padding: 0;
  }

  @include mix.mq('xl') {
    width: function.fluid(1242px, 1920px);
  }

  @include mix.mq('xxl') {
    width: function.fluid(1816px, 2500px);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-primary] {
    height: 50px;
    padding: 0 50px 0 51px;
    border-radius: 5px;

    font-size: 20px;
    line-height: 24px;

    color: #ffffff;
    background-color: #6c63ff;
    transition: 300ms ease-in;

    @include mix.mq('xxl') {
      font-size: 24px;
      line-height: 28px;
      padding: 0 77.5px;
      height: 64px;
    }

    &:hover {
      background-color: #000000;
    }
  }
}
