@import '../../styles/utils/helpers/zexport.scss';

.article {
  box-shadow: 0px 0px 20px 0px #000001;

  &__image {
    width: 100%;
    min-height: 222px;
  }

  &__content {
    background-color: #ffffff;
    padding: 24px 31px 31px 30px;
  }
}

.article {
  &__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 26px;

    @include mq('xxl') {
      font-size: 28px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 30px;
    @include mq('xxl') {
      font-size: 24px;
      line-height: 42px;
    }
  }
}
