.d {
  &-block {
    display: block;
  }

  &-flex {
    display: flex;
  }
}

.align-items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-dir-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}
