.bg-gray-100 {
  background-color: #f9f9f9;
}

.bg-gray-200 {
  background-color: #d7d4ff;
}

.clr-white {
  color: #ffffff;
}

.clr-gray-100 {
  color: #f9f9f9;
}

.clr-gray-200 {
  color: #d7d4ff;
}

.clr-gray-300 {
  color: #555555;
}

.clr-gray-400 {
  color: #2b2b2b;
}
